@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
:root{
    /* Colors */
    --primary: #ACA0CD;
    --secondary: #E32727;

    /* Fonts */
    --font-title: 'Montserrat', sans-serif;
    --font-principal: 'Inter', sans-serif;
}

*::after,
*::before,
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    background-color: var(--primary);
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    text-decoration-color: black;
}

img{
    width: 100%;
}
/* Header */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
    border-bottom: 10px solid var(--primary);
}
.menu{
    display: flex;
    gap: 25rem;
}
.submenu__item{
    font-size: 16px;
    padding: 0.5rem;
    border: 2px solid #fff;
}
.submenu__item:hover{
    border-color: black;
    transition: 1s;
    border-style: groove;
}
/* .boton{
    position: absolute;
    top: 0.50rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 30px;
} */
.barra{
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* Main */
.titulo__tienda{
    display: flex;
    font-size: 28px;
    font-family: var(--font-principal);
    justify-content: center;
    color: #F6E8E8;
    padding-bottom: 3rem;
    
}
.contenedor{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 1rem;
}
.cards{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}
.box:nth-of-type(1){
    grid-column: 1 / 5;
    align-items: center;
    margin: auto;
}
.box:nth-of-type(2){
    grid-column: 5 / 9;
    align-items: center;
    margin: auto;
}
.box:nth-of-type(3){
    grid-column: 9 / 13;
    align-items: center;
    margin: auto;
}
.box:nth-of-type(4){
    grid-column: 1 / 5;
    grid-row: 2;
    align-items: center;
    margin: auto;
}
.box:nth-of-type(5){
    grid-column: 5 / 9;
    align-items: center;
    margin: auto;
}
.box:nth-of-type(6){
    grid-column: 9 / 13;
    align-items: center;
    margin: auto;
}
.box__img{
    max-width: 300px;
    max-height: 400px;
    border: 3px outset black;
    border-radius: 15%;
}
.box__text{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-size: 24px;
    align-items: center;
}
.ofertas__box__text{
    display: flex;
flex-direction: column;
padding: 2rem;
font-size: 24px;
align-items: center;
text-decoration: line-through;
}
.box__text__corecction{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    align-items: center;
}
/* Footer*/
.footer{
    color: black;
    text-align: center;
    padding-top: 450px;
    font-family: var(--font-principal);
}
.posicion--logos{
display: flex;
justify-content: center;
flex: 1 1 50%;
flex-direction:row;
gap: 1rem;
}
.logoig{
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
}
.logo--facebook{
    height: 40px;
    width: 40px;
    margin-bottom: 15px;
}
/* Fin del index */

/* About us */

.about__us__titulo{
    font-size: 5rem;
    color: black;
    text-align: center;
    font-family: var(--font-title);
}
.about__us__subtitulo{
    font-size: 3rem;
    color: var(--secondary);
    text-align: center;
    padding-top: 2rem;
    font-family: var(--font-principal);
}
.about__us__texto{
    font-size: 2rem;
    color: black;
    text-align: center;
    padding-top: 10rem;
    font-family: var(--font-principal);
}
/* Fin del About us */

/* contact */
.contact__contenedor{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.contact__box{
    width: 400px;
    height: 450px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
}
.contact__titulo{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.field{
    width: 100%;
    padding: 1rem 1rem;
    background-color: #eed9d90e;
    margin-bottom: 2px;
    border: 2px solid black;
}
.contact__boton{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    font-size: 16px;
}
/* Fin del contact */

/* Subi tu diseno */
.subi__tu__diseno__contenedor{
    width: 150px;
    height: 150px;
    background-color: gray;
    display: grid;
    margin: auto;
    padding: auto;
    transform: translateY(350px);
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    font-size: 2rem;
}

.subi__tu__diseno__imagen{
    display: grid;
    max-width: 30px;
    margin: auto;
    padding: auto;
    transform: translateY(310px);
    justify-content: center;
    align-items: center;
}

/* Fin de subi tu diseno */

@media screen and (max-width:1450px){
    .menu{
        flex-direction: row;
        gap: 3rem;
        
    }
}
@media screen and (max-width:960px){
    .cards{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 1rem;}

        .box:nth-of-type(1){
            grid-column: 1 / 3;
            align-items: center;
            margin: auto;
        }
        .box:nth-of-type(2){
            grid-column: 3 / 5;
            align-items: center;
            margin: auto;
        }
        .box:nth-of-type(3){
            grid-column: 1 / 3;
            grid-row: 2;
            align-items: center;
            margin: auto;
        }
        .box:nth-of-type(4){
            grid-column: 3 / 5;
            grid-row: 2;
            align-items: center;
            margin: auto;
        }
        .box:nth-of-type(5){
            grid-column: 1 / 3;
            grid-row: 3;
            align-items: center;
            margin: auto;
        }
        .box:nth-of-type(6){
            grid-column: 3 / 5;
            grid-row: 3;
            align-items: center;
            margin: auto;
        }
}

@media screen and (max-width:600px){
    .menu{
        flex-direction: column;
        gap: 3rem;
        transform: translateY(-35px);
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 1rem;}
        
        .box:nth-of-type(1){
            grid-column: 1 / 3;
            grid-row: 1;
            align-items: center;
            margin: auto;
        }
        .box:nth-of-type(2){
            grid-column: 1 / 3;
            grid-row: 2;
            align-items: center;
            margin: auto;
        }
        .box:nth-of-type(3){
            grid-column: 1 / 3;
            grid-row: 3;
            align-items: center;
            margin: auto;
        }
        .box:nth-of-type(4){
            grid-column: 1 / 3;
            grid-row: 4;
            align-items: center;
            margin: auto;
        }
        .box:nth-of-type(5){
            grid-column: 1 / 3;
            grid-row: 5;
            align-items: center;
            margin: auto;
        }
        .box:nth-of-type(6){
            grid-column: 1 / 3;
            grid-row: 6;
            align-items: center;
            margin: auto;
        }
}
@media screen and (max-width:440px){
    .titulo__tienda{
        font-size: 20px;
    }
    .box__text{
        font-size: 16px;
    }
    .box__text__corecction{
        font-size: 16px;
    }
}